body {
	width: 70%;
	margin: 0 auto;
}

h1,h2,h3{
	font-family: Arial, Geneva, Helvetica, 'Times New Roman', sans-serif;
	margin-top: 1.5em;
}

h1{
	size: 32px;
}

table, th, td, tr{
	border: 1px solid black;
}

div{
	float: left;
	text-align: left;
}

.img_style{
	float: right;
	margin: 0.5em;
}

.img_style span{
	font-style: italic;
}



